<footer class="footer">
  <a rel="noopener nofollow noreferrer" href="https://github.com/Evolution-Development/PterodactylDash" target="_blank" class="kbxq2g-4 hcJQtJ">PteroDash® 2022</a>
    </div>
</footer>